@forward 'config/mixins';
@forward 'config/vars';

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Inter", sans-serif;
    background-color: rgb(248, 247, 250);
}
a {
    text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ant-checkbox-group.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    row-gap: 8px;
}

.ant-form {
    width: 100%;
    &-item {
        width: 100% !important;
        margin: 0 !important;
        &-label {
            margin-bottom: 8px;
            label {
                height: unset !important;
                display: block !important;
                font-size: 16px !important;
                font-weight: 500;
                color: rgba(0,0,0,0.8) !important;
            }
        }
    }
}

.ant-drawer {
    &-body {
        padding: 0px !important;
    }
}

.ant-select {
    width: 100% !important;
    display: block;
}

.ant-popover-inner {
    padding: 8px 8px 4px 8px !important;
}

.ant-popover-inner-content {
    min-width: 300px;
}