:root {
    --heading-text: #4B465C;
    --body-text: #4B465C;
    --muted-text: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%);
    --placeholder-text: linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%);
    --blue-1: #a3c8ff;
    --blue-2: #80bfff;
    --white-1: #ffff;
}